#leftside{
    background-color: lightgray;

}

#weather{
    background-color: lightslategray;
}

.low{

    background-color: green;
    color: black;
    
}

.medium{

    background-color: yellow;
    color: black;
    
}

.high{
    
    background-color: orange;
    color: black;
    
}

.very-high{

    background-color: red;
    color: black;
    
}

.extreme{

    background-color: purple;
    color: black;
    
}